.blog-cardv {
  display: flex;
  flex-direction: row;
 
  font-family: sans-serif;
  border-radius: 15px;
  border: 5px solid #fff;
}
.blog-cardv:hover {
    box-shadow: 0px 0px 15px #ccc;
}
.metav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog-cardv a:hover {
  color: gold;
}
.blog-cardv:hover .photov {
  transform: scale(0.75) rotate(3deg);
}

.blog-cardv .photov {
  
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-cardv .descriptionv {
    color: #fff;
    padding-left: 20px;
    
  background: black;

}

.blog-cardv .descriptionv h1 {
  line-height: 1;
  margin: 0;
  // font-size: 1.7rem;
  color: gold;
}
.blog-cardv .descriptionv h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-top: 5px;
}
.blog-cardv .descriptionv .read-more {
  text-align: right;
}
.blog-cardv .descriptionv .read-more a {
  color: gold;
  display: inline-block;
  position: relative;
}
.blog-cardv .descriptionv .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.descriptionv {
  display:  flex;
  flex-direction: column;
  justify-content:start;
}
.blog-cardv .descriptionv .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-cardv p {
  position: relative;
  margin: 10 0 0;
}
.blog-cardv p:first-of-type {
  margin-top: 1.25rem;
}
/* .blog-cardv p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: gold;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
} */
@media (max-width: 640px) {
  .blog-cardv {
    display: flex;
    flex-direction: column;
    // max-width: 800px;
  }
  
  .blog-cardv .descriptionv {
    flex-basis: 60%;
  }
  .blog-cardv .descriptionv:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    /* width: 30px; */
    position: absolute;
    /* left: -10px; */
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}
.searchbutton {
  background-color: yellow;
  padding: 10px;
  margin: 0;
  border-radius: 50%

}
.searchbutton:hover {
  background-color: white;
}
.stylev {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.faq {
  padding: 120px 0 90px;
  background: #000;
  min-height: 100vh;
}

.faq .section-title {
  margin-bottom: 54px;
}

.faq .section-title h2 {
  margin-bottom: 22px;
}

.faq .accordion .card {
  border: none;
  margin-bottom: 30px;
}

.faq .accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.faq .accordion .card .card-header {
  border: none;
  border-radius: 10px;
  padding: 0;
}

.faq .accordion .card .card-header h5 {
  padding: 0;
}

.faq .accordion .card .card-header h5 button {
  color: #1e3056;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 30px 0 70px;
  height: 80px;
  display: block;
  width: 100%;
  color: rgba(30, 48, 86, 0.8);
  text-align: left;
  background: #fff;
  -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.faq .accordion .card .card-header h5 button:after {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #ffb800;
  text-align: center;
  border: 1px solid #ffb800;
  border-radius: 50%;
  line-height: 100%;
  content: '\f067';
  font-size: 10px;
  line-height: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.faq .accordion .card .card-header h5 button.collapsed {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(97, 125, 255, 0.2);
}

.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
  content: '\f068';
  color: #fff;
  background-image: -webkit-linear-gradient(-180deg, #5e7eff 0%, #ff5f74 30%, #a85fff 100%);
}

.faq .accordion .card .card-body {
  -webkit-box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 0 0 10px 10px;
  padding-top: 0;
  margin-top: -6px;
  padding-left: 72px;
  padding-right: 70px;
  padding-bottom: 23px;
  color: rgba(30, 48, 86, 0.8);
  line-height: 30px;
}