$primary: #8cc63e;
$checkmarkColor: white;
$size: 40px;
$checkmarkFat: 3px;
h3 {
    color: red;
}

.steps {
    // display: inline-block;
    // flex-direction: row;
    align-items: center;
    // padding: 30px;
}
.step {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.stepTitle {
  padding-left: 10px;
}
// .stepseparator {
//   padding-left: 40px;
// }
.circle {
  position: relative;
  background: black;
  border-radius: 50%;
  border: 2px solid yellow;
  width: $size;
  height: $size;
}
.circle {
  margin: 20px;
}
.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: $size/3;
  width: $size/6;
  border-bottom: $checkmarkFat solid $checkmarkColor;
  border-right: $checkmarkFat solid $checkmarkColor;
}

.circle::after {
  content: ' ';
  position: absolute;
  display: inline-block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(2, 2);
  transform-origin: 50% -100%;
  background-color: yellow;
  z-index: 0;
}
.steps:last-child .circle:after {
  display: none
}
.steps {
  margin: 20px;
}
.stepcontainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: stretch;
  
}

.questionNumberLine {
  display: hidden;
}
.steps {
  display: flex;
  align-items: center;
  margin: 10px;
}
@media only screen and (max-width: 480px) {
  
  .circle::after {
    
    display: none;
    
  }
  .questionNumberLine {
    width: 20px;
   border:1px solid yellow;
   float:left;
   margin-left: 30px;
  }

  .stepTitle {
    padding-left: 0px;
  }
  .stepcontainer {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    border-top: 2px solid black;
    padding-top: 15px;
    margin-top: 15px;
  }

}
