body {
    background-color: black;
    height: 100%;
    z-index: -1;
}

// footer {
//   margin-top: -10;
// }
footer {
    margin-top: 10px;
    position: absolute;
    // left: 0;
    // bottom: 0;
  
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    z-index: -2;
}
label {
  font-weight: bold;
  margin-top: 20px;
}
.icon {
    width: 20px;
    height: 20px;
}
.splitView {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px;
  }
  .divider {
    width: 5px;
    height: 100%;
    margin: 1rem;
    border: 2px solid white;
  }
  .like:hover{
    transform:scale(1.1);
    /* background-color:black; */
    /* color:white; */
}
.like{
    transition: transform .5s
}
#clientheader{
  /* color:white; */
  font-family:cursive;
  
}
.like {
    margin: 10px;
}
.spacev {
  display: flex;
  
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.spacebtn {
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.adjuster {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 3%;
  // border: 1px solid yellow;
  border-left: 0px;
  border-right: 0px;
}

.classin1 {
  width: 25%;
  // height: 100%;

}
.classin2 {
  // border-left: 1px solid yellow;
  // border-top: 1px solid yellow;

  width: 75%;
  padding-left: 20px;
  background-color: #000;
}
@media only screen and (max-width: 480px) {
  .adjuster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .classin1 {
    width: 100%;
    overflow: scroll;
    

  }
  .classin2 {
    width: 100%;
  }
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
  }

  .classout {

  }
 .nav-button {
    padding: 10px;
    margin: 0px;
    // border: 2px solid yellow;
    border-radius: 20%;
    margin-right: 10px;
 }
 .nav-search-button {
  border-radius: 20%;
  margin-right: 30px;
  padding: 10px;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 30%;
 }
 .nav-search-button:hover {
  background-color: yellow;
  color: #000000;
 }
 .nav-search-button a:hover {
  color: black;
 }
 .nav-item {
  background-color: black;
 }
 .project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.outerbg {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
.innercenter {
  position: absolute;
  color: #000000;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.cards-wrapperv {
  display: flex;
  justify-content: center;
  background-color: black;
}

.cardv img {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid yellow;
}

.cardv {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carv {
  border: 5px solid black;
}
*{
  font-family: 'Raleway', sans-serif;
  // color:white;
}

h2{
  color: #ffb800;
  
  align-content: left;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  margin: auto;
  text-shadow: 1px 1px 1px grey;
  letter-spacing: 2px;
  padding: 20px;
  padding-left: 0px;
}

.btn_heart {
  background-color: red; /* Blue background */
  border: none; /* Remove borders */
  border-radius: 50%;
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  /* margin:0 0 0 250px;  */
  /* float:right; */
}
@keyframes blink {
  0% {
      opacity: 1;
  }
  20% {
      opacity: 0;
  }
  40%{
      opacity: 1;
  }
  60%{
      opacity: 0;
  }
  80% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
  
}
@-moz-keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.blinkimg {
  -webkit-animation: blink 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: blink 1s;
  -moz-animation-iteration-count: infinite;
  -o-animation: blink 1s;
  -o-animation-iteration-count: infinite;
}
// p{
//   display: flex;
//   align-content: center;
//   justify-content: center;
//   font-size: 15px;
//   letter-spacing: 1px;
//   margin-left:200px;
//   margin-right:200px;
//   text-align: justify;
//   padding:50px ;
//   line-height: 25px;
//   background-color: black;
//   border-radius: 50px;
//   box-shadow: 0 0 40px 5px rgb(32, 32, 32);


// }

body {
  color: white;
}
.card-body {
  color: black;
}
.card-header {
  color: black;
}
.hor {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}